body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.upper{
    position: absolute;
    width: 100%;
    height: 110px;
    background: linear-gradient(90deg, rgba(66, 12, 64, 0) 38.99%, rgba(122, 115, 16, 0) 99.19%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.name{
    margin-top: 40px; 
    margin-left: 40px;
    text-shadow: black;
    color: grey;
}
.what{
    color: grey;
}
.iam{
    color: grey;
}
.content {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-left: 595px;
}

.fade-in {
    opacity: 0; 
    animation: fadeInAnimation 2s ease forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

.cat {
    position: absolute;
    bottom: -50px;
    left: -50px; 
    animation: catAnimation 5s ease forwards;
}

@keyframes catAnimation {
    0% {
        transform: translate(-50px, -50px) scale(0); 
    }
    100% {
        transform: translate(650px, 150px) scale(1.7); 
    }
    
}